@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#first_name_input ::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#first_name_input :-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#first_name_input ::-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#last_name_input ::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#last_name_input :-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#last_name_input ::-ms-input-placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
